* {
    margin: 0;
    color: white;
}

.link {
    text-decoration: none;
    margin: 0 5px;
}

.intro {
    background-color: #f08e80;
    width: 100%;
    height: 90vh;
    padding: 10px;
}

.intro nav {
    display: inline-block;
    /* width: 50%; */
}

.intro ul {
    padding: 0
}

.intro nav li {
    display: inline-block;
}

.intro h1 {
    display: inline-block;
    font-weight: 300;
}

button.contact {
    background-color: white;
    color: #f08e80;
    border: 1px solid #f08e80;
    padding: 5px;
}